/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    display: box;
}

.vizual {
    max-width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    height: 960px;
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
       
}

/* ----- zde začni psát vlastní CSS ----- 
  /* <img src="images/pozadi.jpg" alt="barevne pozadi" width="960" height="540"> */*/



li {
    display: block;       
}
ul {
    box-sizing: border-box;     
}
.menu {
    display: flex;
    background-color: white; 
    font-size: 18px;
    list-style: none;
    padding-top: 20px;
    margin-left: 0px;
    margin-top: 0; 
}
.menu a { 
    text-decoration: none;
    color: #48418e;
    padding-right: 50px;
}
.menu a:hover {
    color: #25133d;
}
.super {
    text-transform: uppercase;
    color: #25133d;  
    padding-right: 50px;
}
.appka {
    display: block;
    color: white;
    background-image: radial-gradient(#BB584B,#48418e);
    position: relative;
    min-height: 480px;
    padding: 10px;
    padding-left: 50px;
    margin-top: 0;
}
.phone {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
h1 {
    font-size: 80px;
    font-weight: normal;
}
h2 {
    font-size: 40px;
    font-weight: lighter;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 0px;
}
.buttons a { 
    text-decoration: none;
    color: white;
    border: 0.9px solid #e5e5e5; 
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 1px 1px #e5e5e5;
    margin-right: 20px;
}
.buttons li {
    display: block;
}
.buttons a:hover {
    background-color: #48418e;
}
.ikonky {
    background-color: white;
    color:  #25133d;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px;
}
h3 {
    color: #48418e;
}
.paticka {
    background-color: #48418e;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

